{% extends 'base.html' %}
{% block title %}Cursos Disponíveis{% endblock %}

{% block content %}
<h2>Cursos Disponíveis</h2>
<div class="row">
    {% for curso in cursos %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if curso.imagem %}
                    <img src="{{ curso.imagem.url }}" class="card-img-top" alt="{{ curso.titulo }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ curso.titulo }}</h5>
                    <p class="card-text">{{ curso.descricao|truncatewords:20 }}</p>
                    <a href="{% url 'detalhe_curso' curso.slug %}" class="btn btn-primary">Ver Curso</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
