{% extends 'base.html' %}

{% block title %}Meus Cursos{% endblock %}

{% block content %}
<h2>Meus Cursos</h2>

<ul class="list-group">
    {% for m in matriculas %}
        <li class="list-group-item">
            <a href="{% url 'detalhe_curso' m.curso.slug %}">{{ m.curso.titulo }}</a>
        </li>
    {% empty %}
        <li class="list-group-item">Você ainda não está matriculado em nenhum curso.</li>
    {% endfor %}
</ul>

<a href="/" class="btn btn-link mt-3">← Ver todos os cursos</a>
{% endblock %}
