{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="min-h-screen py-10 px-4 bg-background text-foreground">
    <div class="max-w-3xl mx-auto bg-card p-6 rounded-2xl shadow-lg">
        <h1 class="text-3xl font-bold mb-6 flex items-center justify-center gap-2">
            🏆 Ranking dos Usuários
        </h1>

        <ul class="space-y-4">
            {% for usuario in usuarios %}
                <li class="bg-muted p-4 rounded-xl flex justify-between items-center shadow transition-all 
                    {% if forloop.first %} border-2 border-yellow-400 font-bold {% endif %}">
                    <span class="text-lg">
                        {{ forloop.counter }}. {{ usuario.first_name }} {{ usuario.last_name }}:
                    </span>
                    <span class="text-lg flex items-center gap-2">
                        {{ usuario.pontos }} pts
                        <span class="text-sm">{{ usuario.insignea }}</span>
                    </span>

                </li>
            {% empty %}
                <li class="text-center text-muted-foreground">Nenhum usuário encontrado.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
